/*Import font for header font*/
@import url('https://fonts.googleapis.com/css?family=Krona+One');

body { 
    background: url(../images/triviagamebackground.png); 
    background-size:12%;
}

main {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 1em;
}

.header {
    background: url(../images/btmheader.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 92%;
    height: 300px;
    display: block;
    border-radius: 10px;
    border: 5px solid #8a8a8a;
    margin-bottom:5px;
}

header h1 {
    font-family: 'Krona One', sans-serif;
    text-align: center;
    font-size: 3.5em;
    color: #E844C5;
    text-shadow: 3px 3px black;
}

.content {
    background: #fff;
    border-radius: 15px;
    max-width: 980px;
    margin-top: 5px!important;
    margin: 0 auto;
    padding: 30px;
}

#show-number {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 3em;
    background-color: #8a8a8a;
    width: 100px;
    height: 65px;
    border-radius: 3px;
    line-height: 65px;
    margin: 20px auto -50px auto;
}

.submit {
    background-color: #386EB6;
    font-size: 3em;
    color: #f8c81b;
    padding: 20px;
    border: 5px solid #f8c81b;
    border-radius: 15px;
    margin-top: 35px;
    transition: all .2s ease-in-out;
}

.submit:hover {
    transform: scale(1.05);
}



.questionaire h1 {
    font-family: 'Krona One', sans-serif;
    text-align: center;
    font-size: 2em;
    color: #f8c719;
    text-shadow: 3px 3px #8a8a8a;
    padding: 50px 0 15px 0;
}

.questionaire div {
    display:inline;
    padding-right:15px;
}

/******************************************************************/

#gameover-image, #youwin-image {
    margin:auto;
}

#instructions {
    font-weight:bold;
    font-size: 1.1em;
}

.heroCrystal, .sidekickCrystal, .shadowtakenCrystal, .mothmanCrystal {
    width:200px;
}

/*pulse effect for crystal hover*/
.pulse:hover {
    animation: pulse 1s infinite;
  }  
@keyframes pulse {
    0% { transform: scale(1); }
    25% { transform: scale(1.05); }
    50% { transform: scale(1); }
    75% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

button:focus {
    outline:none;
}

table {
    margin: 0px auto;
}

thead, .scoreboard {
    font-family: 'Rambla', sans-serif;
    border-radius: 5px;
}

button {
    background-color: transparent;
    border: none
}

.game-content thead tr th {
    text-align: center;
    background-color:lightgray;
    padding:15px;
    border-radius: 10px;
    line-height: 25px;
}

.scoreboard {
    display: inline;
    border-collapse: separate;
    border-spacing: 15px;
}

.scoreboard td {
    background-color:lightskyblue;
    min-width: 250px;
    border: 3px solid gold;
    border-radius: 5px;
    padding: 10px;
    font-weight:bold;
    color: #3a3a3a;
}

#computerValue, #playerValue {
    line-height: 150px;
    font-size: 3em;
    font-family: 'Rock Salt', cursive;
    color: royalblue;
}

#gameWins, #gameLosses {
    line-height: 65px;
    font-size: 2em;
    font-family: 'Rock Salt', cursive;
    color: royalblue;
}

#pressKeyTryAgain {
    font-size: 2em;
    font-weight: bold;
    padding-top: 10px;
    animation: pulse 1s infinite;
}

/******************************************************/

/*body {

    background-size: 200px;
    background-repeat: repeat;
    padding-top: 10px;
    min-height: 100%;
    height: 100%
}*/

html {
    height: 100%
}

.wrapper {
    margin: 0 auto -155px
}
