/*Import font for header font*/
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Krona+One');

body { 
    background: url(../images/triviagamebackground.png); 
    background-size:12%;
}

main {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 1em;
}

main h1 {
    line-height: 25px;
}

.header {
    background: url(../images/btmheader.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
    display: block;
    border-radius: 10px;
    border: 5px solid #8a8a8a;
    margin-bottom:5px;
}

header h1 {
    font-family: 'Krona One', sans-serif;
    text-align: center;
    font-size: 3.5em;
    color: #E844C5;
    text-shadow: 3px 3px black;
}

.content {
    background: #fff;
    border-radius: 15px;
    max-width: 980px;
    margin-top: 5px!important;
    margin: 0 auto;
    padding: 30px;
}

#show-number {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 3em;
    background-color: #ccc;
    width: 100px;
    height: 65px;
    border-radius: 5px;
    line-height: 65px;
    margin: 20px auto -50px auto;
}

.answerHead, .results {
    display:none;
    font-size:1.8em;
}

.submit {
    background-color: #386EB6;
    font-size: 4em;
    font-family: 'Architects Daughter', cursive;
    color: #f8c81b;
    padding: 10px 20px 10px 20px;
    border: 5px solid #f8c81b;
    border-radius: 15px;
    margin: 55px 0 90px 0;
    transition: all .2s ease-in-out;
    box-shadow: 5px 5px #ccc;
}

.submit:hover {
    transform: scale(1.05);
}

.questionaire h1 {
    font-family: 'Krona One', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: black;
    text-shadow: 2px 2px #f8c719;
    padding: 50px 0 15px 0;
}

.questionaire label {
    display:inline;
    padding-right:15px;
}

table {
    background-color: #ccc;
    width: 40% !important;
    padding-top: 20px;
    border-radius: 8px;
}

thead th {
    padding-top: 8px !important;
    width: 53%;
}

thead th, .right, .wrong {
    padding: 0 20px 10px 0;
    text-align: center;
}

.score {
    color: magenta;
    text-shadow: 2px 2px black;
    margin:10px;
}
/******************************************************************/

html {
    height: 100%
}

.wrapper {
    margin: 0 auto -155px
}
